(
    axes: {},
    actions: {
        Left: [ [Key(Left)] ],
        Right: [ [Key(Right)] ],
        RotateClockwise: [ [Key(Up)], [Key(X)] ],
        DropSoft: [ [Key(Down)] ],
        DropHard: [ [Key(Space)] ],
        Hold: [ [Key(C)], [Key(LShift)] ],

        Debug: [ [Key(F9)] ],
    },
)